.DS_Store
.idea/
/venv/
/src/tests/results/report.html
/.pytest_cache
/report.html
/src/tests/results/report.html
src/__pycache__/
src/common_data/__pycache__/
src/databases/__pycache__/
src/account_creation/__pycache__/
src/test_cases/__pycache__/
src/common_data/payloads/__pycache__/
/.env
src/file.csv
